<!-- <html>
  <head>
    <title>Grades Information</title>
  </head>
  <body>
    <h2>Grades Information</h2>
    <p>Average: {{ avg }}</p>
    <p>Minimum Grade: {{ min_grade }}</p>
    <p>Maximum Grade: {{ max_grade }}</p>
  </body>
</html> -->

<html>
  <head>
    <title>Courses Information</title>
  </head>
  <body>
    <h2>Grades Information</h2>
    <p>Average: <%= avg %></p>
    <p>Minimum Grade: <%= min_grade %></p>
    <p>Maximum Grade: <%= max_grade %></p>
  </body>
</html>
